poa/docs/xml/poa.dtd

<?xml version="1.0" encoding="UTF-8"?><!-- root element --><!ELEMENT project (model, views)><!-- model elements --><!ELEMENT model (blocks)><!ELEMENT blocks (model-item+)><!ELEMENT model-item (pin+)><!ATTLIST model-item	offset CDATA #REQUIRED	desc CDATA #REQUIRED	hasOutputPins CDATA #REQUIRED	hasInputPins CDATA #REQUIRED	clock CDATA #REQUIRED	runtime CDATA #REQUIRED	hasEpisodicPins CDATA #REQUIRED	type CDATA #REQUIRED	id CDATA #REQUIRED	name CDATA #REQUIRED	auto-offset CDATA #REQUIRED	hasRuntime CDATA #REQUIRED	block-type (block | cpu) #REQUIRED	cpuid CDATA #IMPLIED	auto-runtime CDATA #IMPLIED><!ELEMENT pin EMPTY><!ATTLIST pin	address CDATA #REQUIRED	bits CDATA #REQUIRED	position CDATA #REQUIRED	type (input | output | episodic) #REQUIRED	id CDATA #REQUIRED	name CDATA #REQUIRED><!-- view elements --><!ELEMENT views (view)><!ELEMENT view (view-item | connector-view | palette-view)+><!ATTLIST view	name CDATA #REQUIRED><!ELEMENT view-item EMPTY><!ATTLIST view-item	x CDATA #REQUIRED	y CDATA #REQUIRED	model-id CDATA #REQUIRED><!-- connectors --><!ELEMENT connector-view (points)><!ATTLIST connector-view	target-pin CDATA #REQUIRED	target-block CDATA #REQUIRED	source-pin CDATA #REQUIRED	source-block CDATA #REQUIRED><!ELEMENT points (point+)><!ELEMENT point EMPTY><!ATTLIST point	x CDATA #REQUIRED	y CDATA #REQUIRED><!-- palette --><!ELEMENT palette-view (mapping+)><!ATTLIST palette-view	last-pal-entry CDATA #REQUIRED	x CDATA #REQUIRED	y CDATA #REQUIRED	name CDATA #REQUIRED><!ELEMENT mapping EMPTY><!ATTLIST mapping	ns CDATA #REQUIRED	pal-entry CDATA #REQUIRED>